﻿@model CategorieAddModel
<form method="POST" asp-action="Create">
    <label>Nom de la catégorie</label>
    @*<input name="Nom" value="@Model?.Nom"/>*@
    <input asp-for="Nom" />
    <span asp-validation-for="Nom"></span>
    <button class="btn btn-danger">Envoyer</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
