﻿@model PlatCategorieModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <select asp-for="Filtre">
        <option value="null"></option>
        @foreach (CategorieModel c in Model.Categories)
        {
            <option value="@c.Id">@c.Nom</option>
        }
    </select>
    <button>Rechercher</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>
                Nom
            </th>
            <th>
                Prix
            </th>
            <th>
                Nom de la categorie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Plats)
        {
            <tr>
                <td>
                    <img style="height: 3rem; width:auto" src="/uploads/@(item.Image ?? "placeholder.png")"/>
                </td>
                <td>
                    @item.Nom
                </td>
                <td>
                    @item.Prix
                </td>
                <td>
                    @item.CategorieNom
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
